@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
    /* UPPER */ 

.upper{ 
    position: relative;
    background: url(essentials/bg.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.box{
    background-color: black; 
    height: 90vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
    inset: 0;
    box-shadow: 50px 50px black inset;
}
/* NAVBAR */
.language{
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 17px;
    background-color:transparent;
    border: 1px solid grey;
    outline-offset: 2px;
    width: 125px;
    height: 32px;
    border-radius: 5px;
    padding: auto;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sign-in{
    color: white;
    background-color: red;
    height: 32px;
    width: 80px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sign-in:hover{
    background-color: rgb(194, 0, 0);
    cursor: pointer;
}
.right-items{
    display: flex;
    gap: 12px;
}
.nav{
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: auto;
    height: 90px;
}
/* CONTENT */
.heading{
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 56px;
}
.content{
    margin:170px;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    font-weight: 650;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content2{
    position: relative;
    z-index: 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    margin: -130px ;
    font-size: 17px;
    font-weight: 400;
}
content p > span{
    font-size: 40px !important;
}
.email{
    position: relative;
    z-index: 2;
    top: 150px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.mail input{
    width: 400px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.553);
    border: 1px solid grey;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: white;
    padding: 12px;
    font-weight: 500;
}
.strt{
    display: inline;
    width: 220px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.strt:hover{
    background-color: rgb(204, 0, 0);
    cursor: pointer;
}

/* MIDDLE */
.middle p{
    margin: 50px 150px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.series{
    display: flex;
    margin: -50px auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    gap: 40px;
    padding: 20px;
    max-width: 1100px;
    position: relative;
    z-index: 1;
}
.posters{
    position: relative;
    flex: auto;
}
.posters img{
    width: 180px;
    height: 260px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.s{
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120px;
    font-weight: 800;
    -webkit-text-stroke: 2px white;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: -20px;

}
.posters:hover{
    transform: scale(1.1);
}

/* LOWERMID */
#heading{
    margin: 100px 150px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.container{
    display: flex;
    margin: -90px auto;
    align-items: center;
    gap: 15px;
    padding: 20px;
    max-width: 1200px;
    position: relative;
    z-index: 1;
}
.card{
    position: relative;
    z-index: 1;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(
                    149deg,
                    #192247 0%,
                    #210e17 96.86%
                )

}
.title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 30px 10px;

}
.info{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(171, 167, 167);
    font-size: 17px;
    margin: auto 10px;
}
.img{
    width: 60px;
    height: 60px;
    margin: 80px;
    position: absolute;
    left: 130px;
}
.img2{
    width: 60px;
    height: 60px;
    margin: 70px;
    position: absolute;
    left: 140px;
}
.img4{
    width: 60px;
    height: 60px;
    margin: 35px;
    position: absolute;
    left: 170px;
}

/* UPPERLAST */
.upperlast p{
    margin: 150px 150px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.tabs{
    display: flex;
    flex-direction: column;
    margin: -150px auto;
    align-items: center;
    gap: 10px;
    padding: 20px;
    max-width: 1100px;
    position: relative;
    z-index: 1;
}
.tab{
    display: flex;
    align-items: center;
    width: 1150px;
    height: 80px;
    background-color: rgb(50, 50, 50);
    position: relative;
}
.text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 30px;
    font-size: 25px;
    color: white;
    font-weight: 450;
}
.plus{
    position: absolute;
    left: 1100px;
    color: white;
}
.tab:hover{
    background-color:  rgb(67, 67, 67);
}
.lastcontent{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    margin: 200px ;
    font-size: 17px;
    font-weight: 400;
}
.email2{
    position: relative;
    z-index: 2;
    top: 150px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: -320px;
}
.mail2 input{
    width: 600px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.553);
    border: 1px solid grey;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
    padding: 12px;
    font-weight: 500;
}
.strt2{
    display: inline;
    width: 220px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.strt2:hover{
    background-color: rgb(204, 0, 0);
    cursor: pointer;
}

/* FOOTER */
.footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(194, 194, 194);
    margin: 550px 165px;
}.list{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    display: flex;
    font-size: 15px;
    color: rgb(194, 194, 194);
    gap:150px;
    margin: 50px 0px;
}
 /* LAST */
 .last{
    margin: -480px 160px;
 }
 .language2{
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 17px;
    background-color:transparent;
    border: 1px solid grey;
    outline-offset: 2px;
    width: 125px;
    height: 32px;
    border-radius: 5px;
    padding: auto;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

.last p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(194, 194, 194);
    font-size: 14px;
    margin: 50px 0px;
}

footer .foot{
     width: 100%;
     height: 600px;
}
